.menu {
  width: 100%;
  /*height: 45px;*/
  height: auto;
  background-color: #f2f2f2;
  position: fixed;
  opacity: 0.95;
  top: 0;
  left: 0;
  z-index: 2;
  transition: 300ms;
}
.menu:hover {
  opacity: 1;
}
.menu nav {
  width: 100%;
  height: inherit;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  line-height: 43px;
  gap: 0 35px;
}
.menu nav div {
  width: fit-content;
  height: 43px;
  /*background-color: aqua;*/
}
.menu nav div a {
  width: fit-content;
  height: inherit;
  text-decoration: none;
  font-size: 13px;
  font-family: sf;
  color: #393939;
  display: block;
  transition: 300ms;
}
.menu nav div:hover a {
  color: black;
}
.menu nav div svg {
  width: 16px;
  height: 40px;
  fill: #393939;
}
.menu nav div .blur {
  position: absolute;
  width: 100vw;
  height: 0;
  top: 43px;
  left: 0;
  z-index: 1;
  background-color: rgba(219, 219, 219, 0.3);
  backdrop-filter: blur(5px);
  transition: 0ms;
}
.menu nav div:hover .blur {
  height: calc(100vh - 43px);
}
.menu nav div .blur .submenu {
  position: relative;
  width: 100vw;
  height: 0;
  left: 0;
  z-index: 1;
  background-color: #f2f2f2;
  transition: 300ms;
  display: flex;
  flex-flow: row wrap;
  gap: 50px;
  overflow: scroll;
}
.menu nav div .blur .submenu div {
  position: relative;
  height: fit-content;
  top: -100vh;
  opacity: 0;
  left: 10%;
  display: flex;
  flex-flow: column nowrap;
  /*background-color: aqua;*/
  transition: 300ms;
}
.menu nav div .blur .submenu div div {
  position: relative;
  top: -100vh;
  left: 0;
  opacity: 0;
  display: block;
  /*background-color: red;*/
  width: fit-content;
  height: fit-content;
  transition: 300ms;
}
.smallgray {
  text-transform: capitalize;
  font-size: 12px !important;
  font-weight: normal !important;
  color: gray !important;
}
.smallblack {
  text-transform: capitalize;
  font-size: 14px !important;
  font-weight: normal !important;
  color: #2b2b2b !important;
}
.bigblack {
  text-transform: capitalize;
  font-size: 32px !important;
  font-weight: bold !important;
  color: #2b2b2b !important;
}
.menu nav div .blur .submenu div div a {
  text-decoration: none;
  font-family: sf;
  font-size: 20px;
  font-weight: bold;
}
.menu nav div:hover .blur .submenu {
  height: 500px;
}
.menu nav div:hover .blur .submenu div {
  top: 30px;
  opacity: 1;
}
.menu nav div:hover .blur .submenu div div {
  top: 0;
  opacity: 1;
}
.lineup,
.hamburger,
.close,
.logomobile,
.bagmobile,
.searchmobile,
.details {
  display: none !important;
}
